# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Go
*.test
*.out
vendor/

# Node
node_modules/
dist/
.next/
.svelte-kit/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
bootstrap/*.tar
*.iso
bootstrap/out/
bootstrap/vm/controlplane.yaml
bootstrap/vm/talosconfig
bootstrap/vm/talosconfig-pod
bootstrap/vm/worker.yaml

# Secrets
*.pem
*.key
*.age
.talos/
